%h1= t('.title')
%p= link_to t('.new_quote'), new_quote_path

%table
  %thead
    %tr
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for quote in @quotes
      %tr{ :class => cycle(:odd, :even) }
        %td.action= link_to t('show'), quote
        %td.action= link_to t('edit'), edit_quote_path(quote)
        %td.action= link_to t('destroy'), quote, :confirm => t('are_you_sure'), :method => :delete
