= semantic_form_for(@link) do |f|
  - if @link.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@link.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @link.errors.full_messages.each do |msg|
        %li= msg
  - f.inputs do 
    = f.input(:title, :as => :string)
    = f.input(:url, :as => :string)
    = f.input(:description, :as => :text)
    = f.submit
