= form_for(@photo) do |f|
  - if @photo.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@photo.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @photo.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
