%h1= t '.title'
%p
  = link_to t('back'), posts_path
  = link_to t('edit'), edit_post_path(@post)

%dl
  %dt= Post.human_attribute_name :author_id
  %dd= @post.author_id
  %dt= Post.human_attribute_name :created_at
  %dd= @post.created_at
  %dt= Post.human_attribute_name :updated_at
  %dd= @post.updated_at
  %dt= Post.human_attribute_name :post_data
  %dd= @post.post_data
  %dt= Post.human_attribute_name :post_status
  %dd= @post.post_status
  %dt= Post.human_attribute_name :post_type
  %dd= @post.post_type
