%section{:id => "last_posts"}
  .single_post
    %article
      .float
        %figure
          = image_tag("test3.jpg", :alt => "Test")
        %footer
          %ul
            %li
              %time{:datetime => "#{@post.created_at.strftime("%Y/%m/%d")}"}= @post.created_at.strftime("%B %d, %Y")
            %li written by Me
            %li tags
            %li comments
      .art
        %header
          %h2= link_to(@post.title, post_path(@post))
        %p= @post.content

%section{:id => "archive"}
  - @posts.each do |day, posts|
    %header{:class => "section_tit"}
      %h3
        Also on 
        = day.strftime("%B %d, %Y")
    %ol  
      - posts.each do |post|
        = render post