= form_for(@audio) do |f|
  - if @audio.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@audio.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @audio.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
